<script setup lang="ts">
import HelloWorld from "./components/HelloWorld.vue";
import { inject } from "vue";

const i18n: any = inject("i18n");
console.log("app", i18n.global);

async function chnageLocale({ target: { value } }: any) {
  console.log(value);
  // load and add locale if not exist
  if (!i18n.global.availableLocales.includes(value)) {
    const messages = await import(`./locales/${value}.json`);
    i18n.global.setLocaleMessage(value, messages.default);
  }

  // set locale
  i18n.global.locale = value;
}
</script>

<template>
  <div>
    <a href="https://vitejs.dev" target="_blank">
      <img src="/vite.svg" class="logo" alt="Vite logo" />
    </a>
    <a href="https://vuejs.org/" target="_blank">
      <img src="./assets/vue.svg" class="logo vue" alt="Vue logo" />
    </a>
  </div>
  <HelloWorld msg="Vite + Vue" />
  <select v-model="$i18n.locale" @change="chnageLocale">
    <option value="en">English</option>
    <option value="ar">Arabic</option>
  </select>
</template>

<style scoped>
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}
</style>
